.artist-page
  .slider
    margin-bottom: 65px;
  .page__title
    display: block
  .le_slider
    width: 100%
    height 450px
    @media $media_tablet
      height 340px
    @media $media_mobile
      height 140px
  .hero-body
    align-items flex-start !important
    padding 0 1.5rem
    margin-top 35px
  .columns
    margin-top: 25px;
    margin-bottom: 30px;
  p
    font-size: 1rem;
    &:not(:last-of-type)
      padding-bottom 17px
  .subtitle
    text-transform uppercase
    font-weight bold
    margin-top 30px
    margin-bottom 30px
