.gallery-page
  .link_with_description
    .overlay
      & > *
        font-size 1.2rem
      .title
        font-size: 2.5rem
  @media $media_mobile
    .tile.is-parent
      padding 0;
  @media $media_tablet
    .tile.is-parent
      padding 0;
