$blue = #72d0eb
// Add pink and its invert
$pink = #ffb3b3
$pink-invert = #fff
// Add a serif family
$family-serif = "Merriweather", "Georgia", serif
$column-gap=3rem
@import '../../../node_modules/bulma-stylus/bulma.styl'

.fff
  display block
  background-color red
