.last-works
  padding-top: 0
  .last-works__title
    .title
      margin 20px 0
      border-top: grey solid 1px
      border-bottom: grey solid 1px
      padding: 5px 0
      width: 200px;
      text-align: center;
  .last-works__body
    .tile.is-parent:first-of-type
      padding-left: 0.75rem
    .tile.is-parent:last-of-type
      padding-right: 0.75rem
    .tile.is-child:not(:last-child)
      margin-right 24px !important
  //.link_with_description
  //  .overlay
  //    position absolute
  //    opacity 0;
  //    background-color: transparent
  //    margin-top: 10px;
  //    flex-wrap: wrap
  //    .title
  //      font-size 1rem
  //    & > *
  //      color: white
  //      margin-right 5px
  //      flex-shrink 0
  //      &:before
  //        content: '  '
  //    &:focus
  //      opacity: 1;
  //    &:active
  //      opacity: 1;
  //    &:hover
  //      opacity: 1;
